.img{
    width: 100%;
    height: 30rem;
}
.secondary-img{
    width: 100%;
    height: 6rem;
}
.title{
    font-weight: bold;
}
.quantity-input{
    width: 8rem !important;
    height:2.5rem;
}
.add-cart-btn{
    padding-top: 2px;
    padding-bottom: 2px;
    height:2.5rem;
}
.inc-dec-btn:active{
  color: white !important;
}
.wishlist,.share,.tags{
    background-color:transparent;
    border: none;
    outline: none;

}
